input[type=text]{

      width: 500px;
      height: 40px;
      border-radius: 40px;
      color: black;
      border-color:rgb(235, 203, 203) ;

  }
  input[type=submit]{
      border-radius: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      border: none;
  }
  div{
      text-align:center;
      margin: 15px;
  
  }
  html{
      background-color:white;
  }
  #img-adv{
    text-align: right;
    margin: 15px 5px;
    margin-left: 5px;
    border-radius: 10px;
    font-family: arial, sans-serif;
    padding-left:3px ;
    padding-right:3px ;
    padding-top:3px ;
    padding-bottom:3px ;
    
}
button{
    border-radius:5px;
    background-color: white;
    border: none;
    
}
/*button:hover{
    box-shadow: 0 2px 1px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3);
    
    
}*/
input[type=text]:hover{
    box-shadow: 0 2px 1px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3);
}
input[type=submit]:hover{
    box-shadow: 0 2px 1px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3);
}
a{
    text-decoration: none;
}
.line:hover{
    text-decoration: underline;
}